.navbar {
  align-items: center;
  background-color: cornflowerblue;
  color: white;
  display: flex;
  font-weight: bold;
  height: 3rem;
  justify-content: flex-end;
  list-style: none;
  margin: 0;
  margin-bottom: 1rem;

  & > li {
    margin-right: 2rem;
  }

  & > li:first-child {
    margin-right: auto;
  }
}
